<div class="modal fade see-user-network" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <br>
      <%= render 'shared/stats' %>
    </div>
  </div>
</div>
