<h2>Hi, I am <%= @user.email %> and this is ùy profile page </h2>
<%= render 'shared/follow_form' if current_user %>
<h3>Mes citations persos sont les suivantes</h3>
<% @quotes.each do |q| %>
  <li><%= q.content %></li>
<% end %>

<%= link_to 'BAck to home page', root_path %>