<% if @quotes.any? %>
    <div class="modal fade show-quotes-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <% @user_quotes.each_with_index do |quote, index| %>
          <div id="cbp-qtrotator" class="cbp-qtrotator">
          <div class="cbp-qtcontent <% if index == 0 %> current <% end %>"> 
            <blockquote>
            <p><%= quote.content %></p>
            </blockquote>
          </div>
          <span class="cbp-qtprogress"></span> 
          </div>
          <% end %>
        </div> <!-- modal content -->
      </div>
    </div>

<% end %>





