
<div class="modal fade add-quote-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <br>
      <%= simple_form_for @quote do |f| %>

        <%= f.input :content %>
        <%= f.button :submit %>
      <% end %>
    </div>
  </div>
</div>
