<div class="modal fade search-inspiration" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <br>
      <form action="">
          <input type="text" value="<%= params[:keyword]%>" name="keyword" placeholder="Search for inspiration...">
          <%= submit_tag "looook" %>
          </form>
    </div>
  </div>
</div>
