<h1>Home page ici</h1>
<p>Quote ici</p>
<%= render 'shared/quote_form' %>

<% if @quotes %>

  <% @quotes.each do |q| %>
  <li><%= q.content %></li>
  <li><%= link_to "X", quote_path(q), method: :delete %></li>
  <hr>
  
  <% end %>
<% end %>