<h1>Page d'accueil d'Hannibal</h1>
<p>Ajouter une citation</p>
<%= render 'shared/error_messages' %>
<%= render 'shared/quote_form' %>

<% if @quotes %>

  <% @quotes.each do |q| %>
  <li><%= q.content %></li>
  <li><%= link_to "X", quote_path(q), method: :delete %></li>
  <hr>
  
  <% end %>
<% end %>