// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*Home page*/

#home-user-actions {
  display: flex;
  flex-direction:column;
  justify-content: space-around;
}

.home-page-height {
  display: flex
}

.home-page-allquotes {
  font-size: 2em;
  padding: 0 0.3em;
  color: white;
}

body { 
  background: url('Mountains_Landscape_darkened.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.visitor-welcome {
  background-color: transparent;
}

.modal-backdrop {
   background-color: #EEEEEE;
}

.navbar-custom {
    background-color:transparent;
    color:#ffffff;
}

#total-quotes-container{
    background-color: transparent;
    height: 300px;
    overflow-y: scroll;
    border: 1px solid white;
    border-radius: 4px;
}

li {
  list-style-type: none;
}

/*custom Padding and margin*/
.small-margin {
  margin-top: 5px;
  margin-bottom: 5px;
}

.middle-margin {
 margin-top: 10px;
 margin-bottom: 10px; 
}