// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*GENERAL*/

.navbar-mobile {
  display: flex;
  justify-content:center;
  margin: 15px 0 15px;
}

.navbar-nav {
  display: flex;
}

.navbar-welcome a {
  padding-top: 20px !important;
  padding-bottom: 10px !important;
}


body { 
  background: url('Mountains_Landscape_blurred.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

li {
  list-style-type: none;
}

.hr-red {
  border-color: $red;

}
.likes {
  color: $bright-red;
}

.delete {
 color: $red; 
}

.actions-text {
  font-family: 'Poiret One', serif;
}

.action-buttons {
  color: $golden;
}

/*SPACING*/

.sm-up-space {
  padding-top: 1em;
  padding-bottom: 1em;
}

.md-up-space {
  padding-top: 2em;
  padding-bottom: 2em;
}

.lg-up-space {
  padding-top: 3em;
  padding-bottom: 3em;
}

.small-margin {
  margin-top: 5px;
  margin-bottom: 5px;
}

.middle-margin {
 margin-top: 10px;
 margin-bottom: 10px; 
}

/*Home page*/
#main-container {
  display: flex;
}

#home-user-actions {
  display: flex; 
}

#desktop-main-actions {
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: space-between;
  
  li {
    text-align: center;
  }
}


.list-quotes {
  font-size: 2em;
  padding: 0 0.3em;
  color: $whitish;
  font-family: 'Josefin Sans','Poiret One', 'Merriweather', 'Georgia', 'Times New Roman', serif ;
  font-weight: 600;

}


/*MODAL*/
.modal-backdrop {
   background-color: #EEEEEE;
}


.visitor-welcome {
  background-color: transparent;
}


.quotes-container{
    background-color: transparent;
    height: 65vh;
    overflow-y: scroll;
    border-bottom: 1px solid $red;
}



.author_of_quote {
  color: $gray;
  padding: 0 2em;
}


/*MOBILE*/

.inline li{
  display: inline-block;
  padding: 2px 4px;
  list-style-type: none;
}

.flex-container {
  display: flex;
  justify-content:center;
  align-items:center;
  margin: 5px 0 5px;
}

.actions-grid {
  display: flex;
  justify-content:center;
  align-items:center;
  color:#d9d9d9;
  font-size: 2em;
  height: 25vh;
}



/*=====================================================
=            Bootstrap 2.3.2 Media Queries            =
=====================================================*/
@media only screen and (max-width : 1200px) {

}

@media only screen and (max-width : 979px) {

}


@media only screen and (max-width : 767px) {

  #desktop-main-actions {
    display: none;
  }

}

@media only screen and (max-width : 480px) {

}

@media only screen and (max-width : 320px) {



}
