// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*Home page*/

.yellow {
  color: #F6CF8E;
}

.gray {
  color: #D6D7DC;
}

.red {
  color :#BF3E3E;
}

.whitish {
  color: #F6F6F6;
}

.bright-red {
  color: #F65D5D;
}

#home-user-actions {
  display: flex;
  flex-direction:column;
  justify-content: space-between;
}

.home-page-height {
  display: flex
}

.home-page-allquotes {
  font-size: 2em;
  padding: 0 0.3em;
  color: white;
}

body { 
  background: url('Mountains_Landscape_blurred.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.visitor-welcome {
  background-color: transparent;
}

.modal-backdrop {
   background-color: #EEEEEE;
}



.quotes-container{
    background-color: transparent;
    height: 65vh;
    overflow-y: scroll;
    border-bottom: 1px solid #BF3E3E;
}

li {
  list-style-type: none;
}

.author_of_quote {
  color: red;
}
/*custom Padding and margin*/
.small-margin {
  margin-top: 5px;
  margin-bottom: 5px;
}

.middle-margin {
 margin-top: 10px;
 margin-bottom: 10px; 
}



/*MOBILE*/

.inline li{
  display: inline-block;
  padding: 2px 4px;
  list-style-type: none;
}

.flex-container {
  display: flex;
  justify-content:center;
  margin: 5px 0 5px;
}

.actions-grid {
  display: flex;
  justify-content:center;
  align-items:center;
  color:#d9d9d9;
  font-size: 2em;
  border: 1px solid #F6F6F6;
  height: 25vh;
}
