
.show-quotes-modal-sm {
  list-style-type: none;
}

.user-quote {
  color: black;
  font-size: 3em;
  border : 2px solid black;
  width : 70%;
  padding: 4px;
  margin: 0px auto;
}
.user_quote_list {
 list-style-type: none; 
}
